.page-title {
    font-size: 25px;
    text-align: center;
    color: red;
    margin: 10px 0;
}

.gallery-wrapper {
    /* display:flex;
    margin:20px;
    flex-wrap: wrap;
    justify-content: space-around; */
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 350px 350px 350px; */
    margin: auto;
    justify-items: center;
    justify-content: space-around;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px 10px;
    align-items: center;
}

.card-image {
    
}

.card-img-style {
    width: 300px;
    width: 300px;
    text-align: center;
}
.card-img-style:hover{
    opacity:0.6;
}

.card-title {
   
}

.card-title-style {
    margin: 10px 0 0 0;
    font-weight: 300;
    font-size: 20px;
    color: rgb(42, 207, 207);
    width: 300px;
}

.card-content {
   
}

.card-content-style {
    margin: 10px 5px;
    font-size: 18px;
    width: 300px;
    text-align: justify;
}